@model BurgerTemplateMethod.Models.Americana

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Americana</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" novalidate>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" >
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" value = "Americana" class="form-control"  />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" value="true" asp-for="WithCheese" /> @Html.DisplayNameFor(model => model.WithCheese)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Precio" class="control-label"></label>
                <input asp-for="Precio" value="9" class="form-control"  />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descripcion" class="control-label"></label>
                <input asp-for="Descripcion" value="Hamburguesa con tocino, doble carne, queso cheddar, cebolla crispy, lechuga y cebolla" class="form-control"  />
                <span asp-validation-for="Descripcion"  class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
